<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        .forecast {
            padding: 20px;
            margin: 10px;
            background-color: #f7f4f4;
        }

        table, th, td {
        border: 1px solid black;
        }

    </style>
</head>
<body>
        <h1>Weather for Plaiview, NY</h1>
        <h2>Data is added approximately every 10 minutes. Refresh the page to get any new data. </h2>

    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>